@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
:root {
  --font-family: "Space Mono", monospace;
  --strong-cyan: hsl(172, 67%, 45%);
  --strong-cyan-hover: hsl(172, 82%, 56%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --light-grayish-cyan: hsl(184, 14%, 56%);
  --dark-blueish-cyan: hsl(185, 41%, 84%);
  --light-blueish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
  --error: rgba(255, 0, 0, 0.822);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

img {
  border-style: none;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  background-color: var(--dark-blueish-cyan);
}

.logo {
  position: absolute;
  top: 100px;
  left: 50%;
  -webkit-transform: translate(-50%, -50px);
          transform: translate(-50%, -50px);
}

main {
  position: absolute;
  top: 150px;
  padding: 20px 30px;
  background-color: var(--white);
  border-radius: 35px 35px 0 0;
}

.block-calculator-data > label {
  display: block;
  font-weight: 700;
  font-size: 0.7rem;
  color: var(--dark-grayish-cyan);
  margin-bottom: 15px;
}

.block-calculator-data > label span {
  display: inline-block;
  color: var(--error);
  opacity: 0;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-calculator-data > label.error span {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.block-input {
  background-color: var(--light-blueish-cyan);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  outline: 2px solid var(--white);
  outline-offset: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-input:hover {
  outline: 2px solid var(--strong-cyan);
}

.block-input img {
  margin-left: 15px;
}

.block-input input {
  border: none;
  border-radius: 10px;
  width: 85%;
  margin-right: 10px;
  font-family: var(--font-family);
  font-weight: 700;
  text-align: right;
  color: var(--very-dark-cyan);
  background-color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: 2px solid inherit;
  text-overflow: ellipsis;
}

.block-input input::-webkit-input-placeholder {
  color: var(--very-dark-cyan);
}

.block-input input:-ms-input-placeholder {
  color: var(--very-dark-cyan);
}

.block-input input::-ms-input-placeholder {
  color: var(--very-dark-cyan);
}

.block-input input::placeholder {
  color: var(--very-dark-cyan);
}

.block-input input:focus {
  outline: 2px solid var(--strong-cyan);
}

.block-tip-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.block-tip-input .tip {
  display: inline-block;
  width: 45%;
  height: 50px;
  border-radius: 8px;
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-weight: 700;
  text-align: center;
  line-height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-tip-input .tip:hover {
  background-color: var(--strong-cyan-hover);
  color: var(--very-dark-cyan);
  cursor: pointer;
}

.block-tip-input .tip-selected {
  color: var(--very-dark-cyan);
  background-color: var(--strong-cyan);
}

.block-tip-input .custom {
  border: none;
  background-color: var(--light-blueish-cyan);
  outline: 2px solid var(--white);
  outline-offset: 5px;
  outline: 2px solid inherit;
  color: var(--very-dark-cyan);
}

.block-tip-input .custom::-webkit-input-placeholder {
  color: var(--light-grayish-cyan);
}

.block-tip-input .custom:-ms-input-placeholder {
  color: var(--light-grayish-cyan);
}

.block-tip-input .custom::-ms-input-placeholder {
  color: var(--light-grayish-cyan);
}

.block-tip-input .custom::placeholder {
  color: var(--light-grayish-cyan);
}

.block-tip-input .custom:hover {
  background-color: var(--light-blueish-cyan);
  color: var(--very-dark-cyan);
  outline: 2px solid var(--strong-cyan);
  cursor: pointer;
}

.block-tip-input .custom:focus {
  outline: 2px solid var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.block-calculator-result {
  border-radius: 10px;
  font-size: 0.8rem;
  color: var(--white);
  background-color: var(--very-dark-cyan);
  padding: 20px 15px;
}

.block-calculator-result .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.block-calculator-result .result .data span {
  color: var(--light-grayish-cyan);
  font-size: 0.7rem;
}

.block-calculator-result .result .show-data {
  color: var(--strong-cyan);
  font-size: 1.1rem;
  font-weight: 700;
}

.block-calculator-result button {
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--strong-cyan);
  color: var(--very-dark-cyan);
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block-calculator-result button:hover {
  background-color: var(--strong-cyan-hover);
  cursor: pointer;
}

.block-calculator-result .button-reset {
  opacity: 0.5;
}

@media screen and (min-width: 700px) {
  body {
    min-height: 100vh;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  main {
    top: 100px;
    border-radius: 35px;
    margin-top: 50px;
  }
  form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  form .block-calculator-data, form .block-calculator-result {
    width: 48%;
  }
  form .block-calculator-result {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    padding-top: 50px;
  }
  form .block-calculator-result .result {
    margin-bottom: 50px;
  }
  form .block-calculator-result .result .show-data {
    font-size: 1.8rem;
  }
  form .block-calculator-result button {
    margin-top: 130px;
    padding: 15px;
    border-radius: 8px;
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    text-align: center;
    font-size: 1.01rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}
